.card.myCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
 }
 
 .card.myCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
 }
 
 .subtitle h6:first-of-type {
    float: left;
 }
 
 .subtitle h6:last-of-type {
    float: right;
 }
 